<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
</head>
<body>
Change
<h1>Add a User</h1>
<div class="form-container">
    <form th:action="@{/magic/add}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Add User">
    </form>
</div>
</body>
</html>
